# Terraform files and directories
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
.terraform.lock.hcl
.terraformrc
terraform.rc

# GCP files and directories
key.json

# Python files and directories
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/
.eggs/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
.tox/
.mypy_cache/
.dmypy.json
.pyre/

# VSCode files
.vscode/

# Node.js files and directories
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
yarn.lock
pnpm-lock.yaml
.npm/
.eslintcache
